.body {
  background-color: #fafafa;
}

.logo {
  display: flex;
  margin-left: auto;
  width: 25px;
}

.img {
  margin-top: 7px;
}

.appBar {
  display: flex;
  background-color: #fff !important;
  height: 75px;
  border-bottom: 1px solid #ccc;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.SvO5t {
  background-color: #262626;
  height: 28px;
  margin: 0 16px;
  transition: opacity .1s ease-out;
  width: 1px;
}

.search {
  border-radius: 3px;
  text-align: center;
  border: 1px solid #ccc;
  margin-left: 15%;
  padding: 5px;
  width: 200px;
}

.grid-search {
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
@media(max-width: 600px) {
  .grid-search {
    display: none;
    justify-content: center;
    align-items: center;
  
  }

  .mobile-none {
    display: none;
  }
}

.icon-color {
  color: #1c1c1c;
}

.container {
  margin-top: 60px;
  padding-left: 21%;
  padding-right:15%;
  padding-top: 80px;
}

.avatar-large {
  width: 150px !important;
  height: 150px !important;
}

.login {
  font-size: 30px;
  color: #323232;
  font-weight: 100;
}

.inline {
  display: inline !important;
}

.button-edit {
  background-color: transparent;
  border-radius: 5px;
  padding: 8px 13px 8px 13px;
  border: solid 1px #ccc;
  font-size: 13px;
}

.ml {
  margin-left: 20px !important;
}

.ml-edit {
  margin-left: 40px !important;
}

.mt {
  margin-top: 10px;
}

.descricao {
  margin-top: -8px;
}

a {
  text-decoration:none; 
}

.color-site {
  color: #00376b;
}